.app {
  min-height: 94vh;
  margin: 0;
  background-color: #1E2531;
  color: white;
  display: flex;
  padding: 3vh 3vw 3vh 3vw;
}

.host {
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.host .video-stream {
  width: 100%;
  height: 50%;
  border-radius: 12px;
  border: 1px solid white;
}

.host .controls {
  display: flex;
  margin: 15px 0px 15px 0px; 
}

.host .controls div {
  width: 150px;
  border-radius: 12px;
  border: 1px solid white;
  padding: 15px;
  margin-right: 15px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.clicked {
  border: 1px solid red !important;
}

.guest {
  flex-grow: 1;
  border-radius: 12px;
  border: 1px solid white;
  margin-left: 3vw;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

